.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.text-orange {
  color: orange;
}

@media (max-width: 768px) {
  .carousel-item img {
      object-fit: cover;
      width: 100%;
      height: auto;
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
      font-size: 3.5rem;
  }
}
